<h1>Exemplo de Notificação</h1>
<p>Teste</p>

<div style="text-align: center">

	<div id="notification_bar"></div>

</div>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="notifica/1/ulisses,usuario_2,jdksjdskdjskj/user" ></script>

