  
        <p>Adicione a seguinte div onde deseja que suas notificações apareçam:</p>
        <pre class="prettyprint lang-scm">
          <%= h '<div id="notification_bar"></div>' %>
        </pre>

        <p>e o seguinte JS:</p>
        <pre class="prettyprint lang-scm">
          <%= h '<script src="notifica/<ACCOUNT_ID>/<DESTINATARIO_1>,<DESTINATARIO_2>/<USUARIO>" ></script>' %>
        </pre>


        <p>Veja o exemplo <a href="exemplo">clicando aqui</p>
      </div>

      <div id="push"></div>

      <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
